:root{
    --clr-primary-400: hsl(243, 95%, 39%);
    --clr-natural-100: #fff;
    --clr-natural-300: hsl(0 0% 70%);
    --clr-natural-900: #000;

    --fonst-size-300: .975rem;
    --font-size-400: 1.125rem;
    --font-size-500:1.25rem;
    --font-size-600: 1.75rem;
    --font-size-700: 3rem;
}


*, *::before, *::after {
    box-sizing: border-box;
  }
  * {
    margin: 0;
  }
  html, body {
    height: 100%;
  }
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  input, button, textarea, select {
    font: inherit;
  }
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  #root, #__next {
    isolation: isolate;
  }


  